## SPDX-License-Identifier: GPL-2.0-only

if BOARD_UP_TIGERLAKE

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select FSP_TYPE_IOT
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select INTEL_GMA_HAVE_VBT
	select SOC_INTEL_TIGERLAKE

config MAINBOARD_DIR
	default "up/tigerlake"

config UART_FOR_CONSOLE
	int
	default 0

config CONSOLE_POST
	bool
	default y

endif
